<style>

* {
    padding: 0;
    margin: 0;
}

/* portrait mode warning */
#warning-message { display: none; 
background-color: black;
color:white;
font-size:30px;
}

@media only screen and (orientation:portrait){
.outer { display:none; }
#warning-message { display:block; }

}

@media only screen and (orientation:landscape){
        #warning-message { display:none; }

    }
    
    
    
@font-face {
    font-family: 'PxPlus IBM CGA';
    src: url('PxPlus_IBM_CGA.woff2') format('woff2'),
        url('PxPlus_IBM_CGA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/* youtube */

.video-wrap {
    position: relative;
    width: 70%;
    top: 5%;
    left: 15%;
    padding-bottom: 15%;
 
}

.youtube-responsive-container {
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
}

.youtube-responsive-container iframe, 
.youtube-responsive-container object, 
.youtube-responsive-container embed {
position:absolute;
width:100%;
height:100%;
}

    
html {
    cursor: url('images/egg.cur'), default;
    overflow-x: hidden;
}

body {
    cursor: url('images/egg.cur'), default;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(90deg, #713a0e, #ff2929, #ff862f, #f5ff2b, #c3ff61, #00ff2a, #38fcff, #765eff, #f33dff, #ff9bd1);
    /*background-repeat: repeat;
    background: url('images/bars.png');*/
/*     background-color: #f68cff; */
}
    
    
.linx {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 50%;
    left: 25%;
    height: auto;
    padding-bottom: 15%;
    height: 8%;
}

    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    
    .contact {
        flex: 1;
        border: 2px dashed green;
        font-size: 18px;
        background-color: #fff562;
        text-align: center; 
        height: 100%;
        padding: 25px;
    }
        .contact:link {
         color: #550086;
         text-decoration: none;
        }
        
        .contact:hover {
            text-decoration: underline;
        }
        
        .contact:visited {
            
        }

        
.footer {
    position: fixed;
    width: 100%;
    height: 12%;
    bottom: 0;
    background: url('images/fire.gif');
    z-index: -1;
}
    
.outer {
    
}

.title {
    font-family: 'PxPlus IBM CGA', mono;
}

.banner {
        position: relative;
        top: 1%;
        width: 65%;
        left: 17.5%;
        padding-bottom: 1%;
}

.flexy {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: -8px;
    width: 60%;
    left: 20%;
    top: 20%;
    position: relative;
    padding-bottom: 10%;
    
}


    .flexy >* {
        flex: 1 0 25%;
        margin: 8px;
    }


    .item {
            cursor: url('images/brite-egg.cur'), pointer;
            padding-top: 1%;
            padding-bottom: 1%;
            padding-left: 5px;
            padding-right: 5px;
            outline: dashed #ff29f5;
            border: 5px dotted #ff9500;
            position: relative;
            background: rgba(248, 200, 255, 1);
            font-size: 24px;
            color: #302443;
            text-align: center;
/*            font-family: 'Pacifico', cursive;*/
            font-family: 'PxPlus IBM CGA', mono;
            text-decoration: none;
            min-height: 3rem;
    }

        .item:visited {
            color: #d9afdf;
        }
        
        
        
        
       
        .introo {
                text-align: center;
        }
            
    
        .one {
            text-align: center;
           
        }

           
                .one:hover:before {
                    font-size: 18px;
                    content: 'The Infinite Menagerie Audio Tour';
                    background: url('images/confetti-lite2.gif');
                }
                    
                    .one:before {
                        content: '64';
                    }
                
              
              
        .two {
            text-align: center;
            color: 
        }
                
                .two:before {

                    content: '68';
                }
                
                    .two:hover:before {
                    font-size: 16px;
                    content: 'i am trying to communicate to you through choreography from the music video for M.I.A.’s “Galang”';
                                        background: url('images/confetti-lite2.gif');

                    }
                
                .three:before {
                    content: 'seventy';
                }
                
                    .three:hover:before {
                        content: 'DARYL';
                        background: url('images/confetti-lite2.gif');
                    }
                    
                .four:before {
                    content: 'SEVENTY 1';
                }
                
                    .four:hover:before {
                        content: 'Black Show';
                        background: url('images/confetti-lite2.gif');
                    }
                
                .five:before {
                    content: 'seventy SIX';
                }
                
                    .five:hover:before {
                        font-size: 12px;
                        content: '"at go! we will scream real loud with the lights real bright and our eyes shut tight and our hearts real full cause we gotta get it out even just for a moment just one tender moment, all of us, together"';
                        background: url('images/confetti-lite2.gif');
                    }
                
                .six:before {
                    content: '73';
                }
                
                    .six:hover:before {
                        font-size: 22px;
                        content: 'To the Black Teenager ';
                        background: url('images/confetti-lite2.gif');
                    }
                
                .seven:before {
                    content: 'seven ty for';
                }
                
                    .seven:hover:before {
                        font-size: 18px;
                        content: 'eating lasagna with garfield';
                        background: url('images/confetti-lite2.gif');
                    }
                
                .eight:before {
                    content: '7 D 5';
                }
                
                    .eight:hover:before {
                        font-size: 20px;
                        content: 'Black Dykes Talk About Buffy';
                        background: url('images/confetti-lite2.gif');
                    }
            
                .nine:before {
                    content: '76';
                }
                
                    .nine:hover:before {
                        font-size: 18px;
                        content: "Our Relative Experience of Protesting";
                        background: url('images/confetti-lite2.gif');
                    }
                
                .ten:before {
                    content: '11x7';
                }
                    .ten:hover:before {
                        content: 'Deja Play';
                        background: url('images/confetti-lite2.gif');
                    }
           
                .eleven:before {
                    content: '11x7+1';
                }
                    .eleven:hover:before {
                        font-size: 18px;
                        content: 'From The Mouths of Babes: June 2020';
                        background: url('images/confetti-lite2.gif');
                    }
                    
                .fucktwelve:before {
                    content: '80';
                }
                    .fucktwelve:hover:before {
                        content: 'next year, maybe';
                        background: url('images/confetti-lite2.gif');
                    }
                    
               .thirteen:before {
                    content: 'eightyone';
                }
                
                    .thirteen:hover:before {
                        font-size: 18px;
                        content: 'howdoistayinhisbrain';
                        background: url('images/confetti-lite2.gif');
                    }
                    
                .fourteen:before {
                    content: '83';
                }
                
                   .fourteen:hover:before {
                                               font-size: 22px;

                        content: 'I SCREAM YOU SCREAM WE ALL SCREAM FOR JUSTICE!';
                        background: url('images/confetti-lite2.gif');
                    }
                    
                .fifteen:before {
                    content: 'eighty for';
                }
                
                    .fifteen:hover:before {
                        content: 'Am I Karen?';
                        background: url('images/confetti-lite2.gif');
                    }
                    
                .sixteen:before {
                    content: '85';
                }
                
                    .sixteen:hover:before {
                        content: 'Zoom Meeting';
                        background: url('images/confetti-lite2.gif');
                    }
                    
                .seventeen:before {
                    content: 'EIGHTY SIXXX';
                }
                
                    .seventeen:hover:before {
                        content: 'the last scary thing';
                        background: url('images/confetti-lite2.gif');
                    }
                    
                .eighteen:before {
                    content: 'when eighty was hungry (eighty ate)';
                }
                    .eighteen:hover:before {
                        content: 'On Having ADHD During a Pandemic';
                        background: url('images/confetti-lite2.gif');
                    }
                    
                .nineteen:before {
                    content: '89';
                }
                    .nineteen:hover:before {
                        content: "Loud Things Without Sound";
                        background: url('images/confetti-lite2.gif');
                    }
                    
                .twenty:before {
                    content: '66';
                }
                    .twenty:hover:before {
                        content: 'Nametagging';
                        background: url('images/confetti-lite2.gif');
                    }
                    
                    
                .twentyone:before {
                    content: '85';
                    
                }
                
                    .twentyone:hover:before {
                        content: 'Gethsemane: June 16 Speculative Fiction ';
                        font-size: 22px;
                                                background: url('images/confetti-lite2.gif');

                    }
                
                .twentytwo:before {
                    content: 'ate dee seven';
                }
                    .twentytwo:hover:before {
                        font-size: 22px;
                        content: 'Nametagging (The Police)';
                        background: url('images/confetti-lite2.gif');
                    }
                    
                .twentythree:before {
                    content: '90+6';
                }
                    .twentythree:hover:before {
                        content: 'Note to Self';
                        background: url('images/confetti-lite2.gif');
                    }
                    
                .twentyfour:before {
                    content: '92';
                }
                    .twentyfour:hover:before {
                        content: 'foundfootagefoundtext';
                                                font-size: 18px;

                    }
                    
                
                    
                .twentyfive:before {
                    content: 'ninetythree';
                    
                }
                    .twentyfive:hover:before {
                        content: 'This year’s pride anthem';
                        font-size: 28px;
                        background: url('images/confetti-lite2.gif');
                    }
                    
                .twentysix:before {
                    content: 'ninety-seven';
                }
                    .twentysix:hover:before {
                                                font-size: 12px;

                        content: '“In this moment, we must prioritize the pleasure of those Most impacted by oppression” Pleasure Activism: The Politics of Feeling Good adrienne marie brown: a book report on a book that I have seemingly had more time on my hands to get through than ever since covid-19 and feels all the more relevant as a queer Black nerodivergent woman struggling to find joy in living through the closest that we have come in my lifetime to dismantling a system that feels just as likely to kill me as to be abolished"';
                        background: url('images/confetti-lite2.gif');
                    }
                    
                .twentyseven:before {
                    content: 'oh three!';
                }
                    .twentyseven:hover:before {
                        font-size: 18px;
                        content: "I ALWAYS LIKED THE PART OF CHURCH WHERE YOU SHAKE THE HAND OF YOUR NEIGHBORS, INTRODUCE YOURSELF TO PEOPLE YOU DON'T KNOW AND WISH THEM PEACE";
                        background: url('images/confetti-lite2.gif');
                    }
                    
                .twentyeight:before {
                    content: '94';
                }
                
                    .twentyeight:hover:before {
                        content: 'Toy Story';
                        background: url('images/confetti-lite2.gif');
                    }
                    
                .twentynine:before {
                    content: 'fifty';
                }
                    .twentynine:hover:before {
                        font-size: 18px;
                        content: 'Echoes from 8th grade band';
                        background: url('images/confetti-lite2.gif');
                    }
                    
                .thirty:before {
                    content: '98 (and still frisky)';
                }
                    .thirty:hover:before {
                        content: 'Paint that Dong';
                        background: url('images/confetti-lite2.gif');
                    }
                    
             
                    
                .outro:before {
                    content: "GOODNITE (IT'S L8)";
                }
                    .outro:hover:before {
                        content: 'TIL NEXT WEEK/YEAR';
                    }
           
           
           
           
        
        



</style>

